/* roboto-regular - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto/roboto-v18-latin-regular.eot"); /* IE9 Compat Modes */
    src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto/roboto-v18-latin-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/roboto/roboto-v18-latin-regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/roboto/roboto-v18-latin-regular.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/roboto/roboto-v18-latin-regular.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/roboto/roboto-v18-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}

#app {
    font-family: Helvetica, 'Roboto', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #eee;
}

html {
    height: 100%;
    overflow: hidden;
}

.panel {
    width: 640px;
    padding-bottom: 10px;
    overflow: hidden;
    /*屏蔽滚动条*/
    -ms-overflow-style: none;
}

.container {
    width: 660px;
    height: 420px;
    position: fixed;
    background-color: #fefefe;
    transition: all 0.6s ease;
    transform-origin: left top;
}

.opacity-container {
    transition: opacity 0.3s ease;
}

.font-color-overwrite {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
}

.tab-container {
    padding: 10px;
    height: 400px;
}

.van-tabs__wrap {
    width: 50%;
    height: 42px !important;
}

.van-tab {
    font-size: 18px !important;
}

.progress {
    padding-bottom: 10px;
}

.ant-tabs-bar {
    margin-bottom: 11px !important;
}

.ant-tabs-nav {
    margin-left: 10px !important;
    font-size: 16px;
}

/*如果用ant的tabs，*/
.ant-tabs-adjust {
    /*padding: 0 10px*/
}

.ant-input-group-addon {
    font-size: 15px !important;
}

.ant-input-search .ant-input {
    font-size: 12px;
}